body{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style-type: none;
}
li{
    float: left;
    padding-right: 20px;
}
a:hover{
    text-decoration: underline;
}
ol{
    list-style-type: none;
}
.navi1 {
    font-weight: bold;
    font-size: 15px;
}
.asmaa {
    font-size: 15px;
    flex-wrap: wrap;
    text-align: left;
}
.navi2:before {
    padding-right: 20px;
    content: '/';
}
.intro1 {
    font-size: 20px;
    
    padding-left: 36px;
}
.intro2 {
    margin-top: 80px;
}
.photo {
    margin: auto;
    border: 1px solid #ccc;
    width: 150px;
    height: 210px;
    padding: 8px;
    display: block;
    margin-bottom: 100px;
}
div.photo img {
    width: 149px;
    height: 150px;
}
.carte1 {
    font-size: 15px;
    margin: 6px;
}
.carte2 {
    color: grey;
    margin: 3px;
    font-size: 8px;
    line-height: 4px;
}
.carte3 {
    font-size: 8px;
    margin: 3px;
    line-height: 14px;
}
.carte4 {
    color: rgb(45, 173, 109);
    font-size: 8px;
    margin: 3px;
    line-height: 5px;
}
section{
    justify-content: center;
}